/* Empty. Add your own CSS if you like */
button.button.icon.ion-happy-outline {
	right:5%;
	border-radius: 100%;
	top: 15%;
	height: 77%;
}

button.button.icon.ion-sad-outline {
  right: 25%;
  border-radius: 100%;
  top: 15%;
  height: 77%;
}

td-cards {
  display: block;
}

td-card {
  position: absolute;
  margin-top: 10px;
  margin-bottom: 40px;
  width: 100%;
  height: 350px;

  overflow: hidden;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
  border-radius: 6px;
}

td-card .image {
  position: relative;
}

td-card img {
  width:100%;
  max-width: 100%;
  border-radius: 6px;
}

td-card .td-footer {
	display:block;
	background-color: black;
	opacity: .7;
	width: 100%;
	height:30px;
	position:absolute;
	text-align: left;
	padding-top: 5px;
	padding-left: 10px;
	font-weight: bold;
	color: white;
	top:320px
}

.yes-text {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 30px;
  color: rgb(111, 250, 111);
  opacity: 0;
}
.no-text {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: rgb(255, 115, 115);
  opacity: 0;
}

.fade {
  -webkit-transition: 0.2s opacity linear;
  transition: 0.2s opacity linear;
  opacity: 0;
}